name: DevOps Action Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      first-name:
        description: "First Name"
        required: true

jobs:
  job1:
    name: Print Hello and System Info
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Print Hello
        run: echo Hello

      - name: Print Ubuntu version
        run: lsb_release -a

      - name: Print commit SHA
        run: echo Commit\ SHA:\ ${{ github.sha }}

  job2:
    name: Show Files and Run Script
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: List files in repo
        run: ls -l

      - name: Print text files
        run: |
          cat 1.txt
          cat 2.txt
          cat 3.txt
          cat 4.txt

      - name: Make script executable
        run: chmod +x ./run_files.sh

      - name: Run script
        run: ./run_files.sh

job3:
  name: Print Env, Var and Secret
  runs-on: ubuntu-latest
  needs: job2
  environment: devops

  steps:
    - name: Print First Name (env)
      env:
        FIRST_NAME: ${{ github.event.inputs.first-name }}
      run: echo First\ Name:\ $FIRST_NAME

    - name: Print Last Name (environment variable)
      run: echo Last\ Name:\ ${{ vars.LAST_NAME }}

    - name: Print Phone Number (secret)
      run: echo Phone\ Number:\ ${{ secrets.PHONE_NUMBER }}

