name: DevOps Action Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      first-name:
        description: "First Name"
        required: true

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Print Hello
        run: echo "Hello"
      - name: Print Ubuntu version
        run: lsb_release -a
      - name: Print commit SHA
        run: echo "Commit SHA: ${{ github.sha }}"

  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - uses: actions/checkout@v3
      - name: List files in repo
        run: ls -l
      - name: Print contents of files
        run: |
          cat 1.txt
          cat 2.txt
      - name: Run script
        run: ./run_files.sh

  job3:
    runs-on: ubuntu-latest
    needs: job2
    steps:
      - name: Print First Name from env
        env:
          FIRST_NAME: ${{ github.event.inputs.first-name }}
        run: echo "First Name: $FIRST_NAME"

      - name: Print Last Name from local variable
        run: |
          LAST_NAME="Smith"
          echo "Last Name: $LAST_NAME"

      - name: Print Phone number from secret
        run: echo "Phone: ${{ secrets.PHONE_NUMBER }}"
